<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>boy1.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,105},{113,103}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,1},{113,103}}</string>
                <key>sourceSize</key>
                <string>{123,105}</string>
            </dict>
            <key>boy10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,313},{111,103}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,1},{111,103}}</string>
                <key>sourceSize</key>
                <string>{123,105}</string>
            </dict>
            <key>boy11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,107},{113,99}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{113,99}}</string>
                <key>sourceSize</key>
                <string>{123,105}</string>
            </dict>
            <key>boy12.png</key>
            <dict>
                <key>frame</key>
                <string>{{353,107},{113,101}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{113,101}}</string>
                <key>sourceSize</key>
                <string>{123,105}</string>
            </dict>
            <key>boy2.png</key>
            <dict>
                <key>frame</key>
                <string>{{355,2},{113,103}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,1},{113,103}}</string>
                <key>sourceSize</key>
                <string>{123,105}</string>
            </dict>
            <key>boy3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,208},{111,103}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,1},{111,103}}</string>
                <key>sourceSize</key>
                <string>{123,105}</string>
            </dict>
            <key>boy4.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,313},{107,103}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,1},{107,103}}</string>
                <key>sourceSize</key>
                <string>{123,105}</string>
            </dict>
            <key>boy5.png</key>
            <dict>
                <key>frame</key>
                <string>{{115,212},{107,99}}</string>
                <key>offset</key>
                <string>{4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{107,99}}</string>
                <key>sourceSize</key>
                <string>{123,105}</string>
            </dict>
            <key>boy6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{117,103}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{117,103}}</string>
                <key>sourceSize</key>
                <string>{123,105}</string>
            </dict>
            <key>boy7.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,2},{115,103}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{115,103}}</string>
                <key>sourceSize</key>
                <string>{123,105}</string>
            </dict>
            <key>boy8.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,2},{115,101}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,3},{115,101}}</string>
                <key>sourceSize</key>
                <string>{123,105}</string>
            </dict>
            <key>boy9.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,107},{111,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,1},{111,103}}</string>
                <key>sourceSize</key>
                <string>{123,105}</string>
            </dict>
            <key>boy_jump.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,313},{111,103}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,1},{111,103}}</string>
                <key>sourceSize</key>
                <string>{123,105}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>boy.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5ca847dd867148ed3bf601ca32d2464f$</string>
            <key>textureFileName</key>
            <string>boy.png</string>
        </dict>
    </dict>
</plist>
